{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="ps-lg-4" >
    <h1 >Our Team</h1>
    <div class="list-group mb-3">
        <div class="list-group-item list-group-item-action d-flex align-items-center">
            <img alt="Todd Aguilera" src="https://www.utsouthwestern.edu/labs/aguilera-todd/assets/aguilera-feature-3.jpg"  height="50" class="rounded me-2" loading="lazy">
            <span><strong>Todd Aguilera</strong>: M.D., Ph.D.,</span> </div>
        <div class="list-group-item list-group-item-action d-flex align-items-center">
            <img alt="Ahmed Elamir" src="https://www.utsouthwestern.edu/labs/aguilera-todd/assets/elamir-ahmed.jpg"  height="50" class="rounded me-2" loading="lazy">
            <span><strong>Ahmed Elamir</strong>: M.D., Postdoctoral Fellow </span> </div>
        <div class="list-group-item list-group-item-action d-flex align-items-center">
            <img alt="Peter Leung" src="https://www.utsouthwestern.edu/labs/aguilera-todd/assets/leung-peter.png"  height="50" class="rounded me-2" loading="lazy">
            <span><strong>Peter Leung</strong>: Medical Student</span> </div>
        <div class="list-group-item list-group-item-action d-flex align-items-center">
            <img alt="Cassandra Hamilton" src="https://www.utsouthwestern.edu/labs/aguilera-todd/assets/hamilton-cassandra.jpg"  height="50" class="rounded me-2" loading="lazy">
            <span><strong>Cassandra Hamilton</strong>: Research Associate</span> </div>
        <a class="list-group-item list-group-item-action d-flex align-items-center" href="https://github.com/vsmalladi">
            <img src="https://github.com/vsmalladi.png" height="50" class="rounded me-2" loading="lazy">
            <span><strong>Venkat Malladi</strong>: Director, Bioinformatics Core Facility (BICF) </span> </a>
        <a class="list-group-item list-group-item-action d-flex align-items-center" href="https://github.com/mingjiecn">
            <img src="https://github.com/mingjiecn.png" height="50" class="rounded me-2" loading="lazy">
            <span><strong>Mingjie Li</strong>: Computational Biologist</span> </a>
        
        
        
      </ul>
    
    
    
   
</div>
{% endblock %}